services:
  xvfb:
    build: ./xvfb
    hostname: xvfb
    container_name: eewrenderer${VARIANT:-}__xvfb
    restart: unless-stopped

    command: Xvfb :0 -listen tcp -ac -screen 0 1024x768x24

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

  eewrenderer:
    image: ghcr.io/eewbot/eew-renderer:v0.1.1
    hostname: eewrenderer
    container_name: eewrenderer${VARIANT:-}__eewrenderer
    restart: unless-stopped

    tmpfs:
      - /tmp

    environment:
      LISTEN: 0.0.0.0:3000
      DISPLAY: xvfb:0
      ALLOW_DEMO: ${ALLOW_DEMO}
      HMAC_KEY: ${HMAC_KEY}
      INSTANCE_NAME: ${INSTANCE_NAME}
      MINIMUM_RESPONSE_INTERVAL: ${MINIMUM_RESPONSE_INTERVAL}

    command: /usr/bin/eew-renderer

    deploy:
      resources:
        limits:
          memory: 256m

    networks:
      - default

  cloudflared:
    image: cloudflare/cloudflared:2025.11.1
    hostname: cloudflared
    container_name: eewrenderer${VARIANT:-}__cloudflared

    restart: unless-stopped

    environment:
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

networks:
  default:
    name: eewrenderer${VARIANT:-}__default
